
# SublimeText project files
*.sublime-workspace
*.sublime-project

# Unwanted files to track
BufferScroll.sublime-settings
GoSublime/
*.last-run
Package Control.cache/
.DS_Store
.AppleDouble
.LSOverride
*.cache

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#Ignoring configuration files
.htaccess
